<!doctype html>
<html lang="en">

<head>


  <title>VUE - 5</title>



  <link rel="stylesheet" type="text/css" href="../bootstrap_vue/css/bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body background="">
  

<p></p>
    <center>
    <div class="container-fluid bg-gradient py-3 ">
        <p class="lead">VUE</p>
        <small class="">Definir un arreglo con objetos que almacenan los nombres y edades de 5 personas. Mostrar en una lista ordenada el nombre de cada persona y entre paréntesis si es mayor o no de edad.</small>
        <hr class="my-4">
    </div>


          <center>
          <div class="col-3 my-auto" id="aplicacion" >

            <div v-if="persona.edad>=18" v-for="persona in personas" >
                <h4 id="">{{persona.nombre}} - {{persona.edad}} - Mayor</h4>   
            </div>

            
            <div v-if="persona.edad<18" v-for="persona in personas" >
                <h4 id="">{{persona.nombre}} - {{persona.edad}} - Menor</h4>   
            </div>

          </div>
          </center>
        

       

<p></p>
    
<!--<button class="btn btn-default btn-primary btn-block text-uppercase col-3 my-auto" id="snd" name="snd" type="submit">Efectuar</button>
-->      
    
   
    </center>
 



<script src="../bootstrap_vue/vue.js"></script>
<script src="functions.js"></script>

</body>
</html>