<!doctype html>
<html lang="en">

<head>


  <title>VUE - 6</title>



  <link rel="stylesheet" type="text/css" href="../bootstrap_vue/css/bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body background="">
  

<p></p>
    <center>
    <div class="container-fluid bg-gradient py-3 ">
        <p class="lead">VUE</p>
        <small class="">Crear dos controles de tipo input(number) y un button. Cuando se presione dicho botón mostrar la suma de los valores ingresados.</small>
        <hr class="my-4">
    </div>


          <center>
          <div class="col-3 my-auto" id="aplicacion" >
            <input type="number" v-model="p1" placeholder="Nro 1..." > 
            <input type="number" v-model="p2" placeholder="Nro 2...">

            <p>Resultado</p>
            <h3 >{{rto}}</h3>
            
            <p></p>
            <button v-on:click="sumar" class="btn btn-default btn-primary btn-block text-uppercase col-5 my-auto">Efectuar</button>
          </div>
          </center>
        

       

<p></p>
    


   
    </center>
 



<script src="../bootstrap_vue/vue.js"></script>
<script src="functions.js"></script>

</body>
</html>