<!doctype html>
<html lang="en">

<head>


  <title>VUE - 9</title>



  <link rel="stylesheet" type="text/css" href="../bootstrap_vue/css/bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body background="">
  

<p></p>
    <center>
    <div class="container-fluid bg-gradient py-3 ">
        <p class="lead">VUE</p>
        <small class="">Permitir ingresar dos números y mediante 2 controles de tipo radio seleccionar si queremos su suma o diferencia. Al presionar un botón mostrar el resultado.</small>
        <hr class="my-4">
    </div>


          <center>
          <div class="col-3 my-auto" id="aplicacion" >
            <input type="number" v-model="p1" placeholder="Nro 1..." > 
            <input type="number" v-model="p2" placeholder="Nro 2...">
        <br>
            <input checked type="radio" value="sumar" v-model="operacion" id="">Sumar
            <input checked type="radio" value="restar" v-model="operacion" id="">Restar
        <br>
            <div v-if="res != undefined  && operacion != ' ' ">
                <br>
                <p>Se eligió {{operacion}}</p>
                <p>Resultado</p>
                <h4>{{res}}</h4>
            </div>
            
        <br>

            <button v-on:click="operate" class="btn btn-default btn-primary btn-block text-uppercase col-5 my-auto">Efectuar</button>
          </div>
          </center>
        

       

<p></p>
    


   
    </center>
 



<script src="../bootstrap_vue/vue.js"></script>
<script src="functions.js"></script>

</body>
</html>